html {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Brandon Grotesque Regular', sans-serif;
    font-family: 'Brandon Grotesque Medium', sans-serif;
    font-family: 'Brandon Grotesque', sans-serif;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

* {
    box-sizing: border-box;
}

.fontMontserrat {
    font-family: 'Montserrat', sans-serif;
}

.fontBrandon {
    font-family: 'Brandon Grotesque Medium', sans-serif;
}

/* * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
} */

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    display: none;
}

@-moz-document url-prefix() {
    html, body {
        scrollbar-width: none
    }
}

body::-webkit-scrollbar {
    display: none
}

body {
    width: 100vw;
    overflow-x: hidden;
}

a.nostyle:link {
    text-decoration: inherit;
    /* color: inherit; */
}

/* scroller main */

.scroller {
    padding-right: 2vw;
    scrollbar-color: #1f1f1f rgba(196, 196, 196, 0.5);
    scrollbar-width: thin;
}

.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.5);
    box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.5);
    background-color: #ddd;
}

.scroller::-webkit-scrollbar {
    width: 2px;
    background-color: #ddd;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
}

.scroller::-webkit-scrollbar-corner {
    background-color: #1f1f1f;
}

/* scrollbar alt */

.customScroller {
    scrollbar-color: #aba499 #202324;
    scrollbar-width: thin;
}

.customScroller::-webkit-scrollbar-track {
    background-color: #202324;
    color: #aba499;
}

.customScroller::-webkit-scrollbar {
    width: 6px;
    background-color: #202324;
    color: #aba499;
}

.customScroller::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

.customScroller::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}

.btn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.btnCust {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.btnNoHover {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    opacity: 0.9;
}

:root {
    --tests-accent: #4485FD;
    --results-accent: #A584FF;
    --teachers-accent: #FF3600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

/* Alert Box */

.alert {
    width: 30vw;
    height: 10vh;
    position: fixed;
    bottom: 5vh;
    left: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 10;
    z-index: 1060;
    border-radius: 5px;
    /* box-shadow: 0 0 15px 5px #ccc */
}

.alert h3 {
    font-size: 15px;
    /* width: 60vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.alert div {
    position: absolute;
    right: 5%;
    top: 2vh;
}

.alert a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close {
    width: 30px;
    height: 30px;
    opacity: .5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer
}

.simple-alert {
    background-color: #ebebeb;
    border-left: 5px solid #6c6c6c
}

.simple-alert .close {
    border-color: #6c6c6c;
    color: #6c6c6c
}

.success-alert {
    background-color: #a8f0c6;
    border-left: 5px solid #178344
}

.success-alert .close {
    border-color: #178344;
    color: #178344
}

.danger-alert {
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c
}

.danger-alert .close {
    border-color: #8f130c;
    color: #8f130c
}

.warning-alert {
    background-color: #ffd48a;
    border-left: 5px solid #8a5700
}

.warning-alert .close {
    border-color: #8a5700;
    color: #8a5700
}

@media (orientation: portrait) {
    .alert {
        z-index: 1051;
        width: 80vw;
        left: 10vw;
    }

    .alert div {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}